* {
padding: 0;
margin: 0;
}

body {
margin:0;
padding: 0;
background: #fbeec7;
font: 13px Arial, Verdana, Tahoma, sans-serif;
line-height: 17px;
}

img {border: none;}
a{ color: #000; text-decoration: none; }
a:hover {  color: #32CD32; }

#logo {
height:60 px;
}

#top {
background: #fbeec7 url(images/top.jpg) no-repeat;
padding: 10px 0;
}
#contentt {
background: #fbeec7 url(images/content.jpg) repeat-y;
padding: 10px;
}
#bottom {
background: #fbeec7 url(images/bottom.jpg) no-repeat;
padding: 10px 0;
}

#wrap {
width: 970px;
margin: 0 auto;
}

.left {
margin-top: 5px;
float: left;
width: 160px;
line-height: 15px;
}
.left h2 {
margin-top: 5px;
font: bold 16px Arial, Helvetica, sans-serif;
line-height: 30px;
background: #C3FDB8 url(images/menu_bg.jpg) repeat-x;
height: 30px;
color: #fff;
padding-left: 10px;
}
.left ul  {
color: #aaa;
text-align: left;
margin: 3px 0 8px 0;
padding-left: 10px;
text-decoration: none;
list-style-type:none;
}
.left ul li {
padding: 2px 0 2px 0px;
margin: 0 2px;
}
.left ul a {
font-weight: 600;
color: #32CD32;
}
.left ul a:hover { color : #333; }

.middle {

margin-top: 5px;
float: left;
width: 760px;
margin-left: 10px;
line-height: 20px;
}
.middle h2 {
font: bold 16px Arial, Helvetica, sans-serif;
color: #fff;
background:#C3FDB8 url(images/menu_bg.jpg) repeat-x;
margin-bottom: 5px;
margin-top: 5px;
height: 30px;
line-height: 30px;
padding-left: 10px;
}
.middle h2 a {
color: #fff;
}
.middle h2 a:hover {
color: #000;
}
/*
.right {
margin-top: 10px;
float: right;
width: 200px;
}
.right h2 {
margin: 10px 0 20px 0;
font: bold 13px Verdana, 'Trebuchet MS', Sans-serif;
line-height: 30px;
background: #CC0001 url(images/contenth2.gif) repeat-x;
height: 30px;
color: #fff;
padding-left: 10px;
} */

.entryTable {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	background-color: #DDDDDD;
}

.entryTableHeader {
	font-family: "Courier New", Courier, mono;
	font-size: 16px;
	color: #000;
	background-color: #C3FDB8;
	font-weight: bold;
	background-position: center;
}

.entryTable .label {
	background-color: #EFEFEF;
}

.entryTable .content {
	background-color: #FFFFFF;
	line-height: 30px;
}

.required {
	padding-left:5px;
	color: #ff0000;
}

.infoTable {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	background-color: #DDDDDD;
}

.infoTableHeader {
	font-family: "Courier New", Courier, mono;
	font-size: 14px;
	color: #FFFFFF;
	background-color: #7F92A4;
	font-weight: bold;
	background-position: center;
}

.infoTable .label {
	background-color: #EFEFEF;

}

.infoTable .content {
	background-color: #FFFFFF;
}

.box {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	border: 1px solid #336699;
}

.box1 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	border: 1px solid #FFFFFF;
	color:#000000;
}

.info{
background-color: #FFFFCC;
}
/* Alert  */
	.alert {
	font-size: 12px;
    line-height: 12px;
    font-family: "Trebuchet MS", Arial, Helvetica, Sans-Serif;
	color: #000000;
    font-weight: normal;
	margin: 0px;
    padding: 6px 5px 6px 5px;
	background-color: #FFFFCC;
	width: 100%;
    border-bottom: 1px solid #93323a;
    border-right: 1px solid #93323a;
    border-left: 1px solid #93323a;
    border-top: 1px solid #cd717a;
    text-transform: none;
}

	.violation {
	background: url(images/violation.jpg) no-repeat left top;
	font-size: 14px;
    line-height: 18px;
    font-family: "Trebuchet MS", Arial, Helvetica, Sans-Serif;
	color: #000000;
    font-weight: bold;
	margin: 0px;
    padding: 6px 5px 6px 5px;
	background-color: #FFFFCC;
	width: 75%;
    border-bottom: 1px solid #ff0000;
    border-right: 1px solid #ff0000;
    border-left: 1px solid #ff0000;
    border-top: 1px solid #ff0000;
    text-transform: none;
}
TABLE.aatable
{
    margin:0 auto;
    font-size:10pt;
    font-family: arial;

    background-color: gray;
}

TH
{
    font-size:10pt;
    color:black;
    text-align:center;padding:2px;
    background-color: white;
}


TR
{
}

TD
{
    font-size:9pt;
   text-align:left;padding:2px;
    background-color: white;
}


#footer {
color: #777;
text-align: center;
padding-bottom: 10px;
}
#footer a {  color: #777; text-decoration: none; }
#footer  a:hover #footer  a:hover { color: #000; }
#l_col {
	padding: 10px;
	float: left;
	width: 24%;
	background-color:blue;
}

#l_col li {
	list-style: none;
	border-bottom: 1px solid #eee;
}

#l_col ul {
	margin-left: 0px;
	padding-left: 0px;
	line-height: 1.6em;
}

#l_col a:link, #l_col a:visited {
	text-decoration: none;
	color: #0087c4;
	display: block;
}

#l_col a:hover, #l_col a:active {
	color: #000;
}

#r_col {
	padding: 2% 15px;
	float: left;
	width: 68%;
	border-left: 1px solid #eee;
	font: 80%/160% Verdana, Arial, Helvetica, sans-serif;
}

